body{
  background-color: grey;
}

.header {
  background-color: #005C33;
  height: 3.2em;
  color: white;
  padding: 0.5em;
  text-decoration: underline;
}

.header--nav {
  background-color: #004526;
}

.box {
  background-color: white;
  height: 20em;
  border: 0.5px solid #E1E1E1;
}

.minibox {
  background-color: #F2F2F2;
  height: 13.34em;
  border: 0.5px solid #E1E1E1;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}

.minibox__title{
  height: 2.6em;
  color: white;
  padding: 0.7em;
}

.box__title {
  height: 3.8em;
  color: white;
  padding: 0.7em;
}

.box__title--placeholder {
color: black;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+0,ffffff+100&0.76+6,1+100 */
background: -moz-linear-gradient(45deg, rgba(229,229,229,0.76) 0%, rgba(231,231,231,0.76) 6%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(229,229,229,0.76) 0%,rgba(231,231,231,0.76) 6%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(229,229,229,0.76) 0%,rgba(231,231,231,0.76) 6%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2e5e5e5', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.box__title--orange {
  background-color: #EF8031;
}

.box__title--indigo {
  background-color: #333491;
}

.box__title--green {
  background-color: #91BD4A;
}

.box__title--blue {
  background-color: #01A8DD;
}

.box__title--darkorange {
  background-color: #D08B14;
}

.cell{
  padding-top:0.9em;
  border-right: 1px solid #E1E1E1;
  padding-bottom: 0px;
  margin-bottom: 0px;

}


/*table styling*/

table.table-simple table,
table.table-simple th,
table.table-simple td {
  border: 1px solid #D8D8D2;
  padding: 0.2em;
  text-align: center;
}

table.table-fancy table,
table.table-fancy th,
table.table-fancy td {
  padding: 0.4em;
  text-align: right;
  font-size: 0.77em;
  border:0.2em solid white;
}

table.table-aside table{
  margin: 0;
}

table.table-aside th{
  padding-left: 0.3em;
  padding-right: 0.3em;
  text-align: center;
  font-size: 0.7em;
  padding-top: 0em;
  padding-bottom: 0em;
}

table.table-aside td {
  padding-left: 0.3em;
  padding-right: 0.3em;
  text-align: center;
  font-size: 0.7em;
  font-weight: bold;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  border-right:0.2em solid #CCCCCC;
}

.table-aside__cell--red {
  background-color: #FFCCCC;
  color: #993333;
}

.table-aside__cell--redblack {
  background-color: #FFCCCC;
  color: black;
}

thead {
  color:white;
}

.table-aside__cell--darkbrown{
  background-color: #544741;
}

.table-aside__cell--brown{
  background-color: #736356;
}

.table-aside__cell--aqua{
  background-color: #01A89E;
}

.table-aside__cell--darkpink{
  background-color: #9F005D;
}

.table-aside__cell--pink{
  background-color: #B1337D;
}

.table-aside__cell--darkgreen{
  background-color: #006837;
}

.table-aside__cell--green{
  background-color: #348660;
}

.table-aside__cell--beige{
  background-color: #F0F1F0;
  color: black;
}

.table-fancy__cell--blueBG{
  background-color: #C8EAF4;
  color: #67A9CE;
}

.table-fancy__cell--whiteBG{
  background-color: white;
}

.table-fancy__cell--brownBG{
  background-color: #E9E0D7;
}

.table-fancy__cell--brownFont{
  color: #987D60;
}

.table-fancy__cell--greyBG{
  background-color: #F2F2F2;
  font-weight: bold;
}

.table-fancy__cell--redBG{
  color: #A73137;
  background-color: #F2D4D4;
  font-weight: bold;
}

.table-fancy__cell--darkBrownBG{
  color: white;
  background-color: #736356;
}

.caption {
  font-size: 0.9em;
  color:white;
  margin-right:0.2em;
}

.caption--small{
  font-size: 0.8em;
}

.caption--green {
  background-color: #91BD4A;
  color: white;
}

.caption--indigo {
  background-color: #333491;
}

.caption--blue {
  background-color: #01A8DD;
}

.border-bottom{
  border-bottom: 1.5px solid #E1E1E1;
}

.icon--red {
  color: #F5825A;
}

.icon--darkred{
  color: #D85323;
}

.icon--darkgreen {
  color: #097F3E;
}

.icon--green {
  color: #A0DCC0;
}

.icon--grey {
  color: #D7D8D8;
}

table.table-invi {
  font-size: 0.9em;
}

.bold{
  font-size: 0.95em;
  font-weight: bold;
}

.square_label {
  background-color: #972788;
  color: white;
  font-size: 0.81em;
  padding: 1.5px;
}

.badge{
  display:inline;
  padding-left: 15px;
  padding-right: 15px;
  padding-top:1px;
  padding-bottom: 1px;
  margin-right: 3px;
  background-color: #0071BC;
}

.badge--lblue{
  background-color: #C8EAF4;
  color: #5AA0C9;
  padding-top: 4px;
  padding-bottom: 4px;
}

.label-indigo{
  background-color: #9D298C
}

.label-pink{
  background-color: #E8177D;
}
