body{
  background-color: grey;
}

.header {
  background-color: #005C33;
  height: 3.2em;
  color: white;
  padding: 0.5em;
  text-decoration: underline;
}

.header--nav {
  background-color: #004526;
}

.box {
  background-color: white;
  height: 20em;
  border: 0.5px solid #E1E1E1;
}

.minibox {
  background-color: #F2F2F2;
  height: 13.34em;
  border: 0.5px solid #E1E1E1;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}

.box__title {
  height: 3.8em;
  color: white;
  padding: 0.7em
}

.box__title--placeholder {
color: black;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+0,ffffff+100&0.76+6,1+100 */
background: -moz-linear-gradient(45deg, rgba(229,229,229,0.76) 0%, rgba(231,231,231,0.76) 6%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(229,229,229,0.76) 0%,rgba(231,231,231,0.76) 6%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(229,229,229,0.76) 0%,rgba(231,231,231,0.76) 6%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2e5e5e5', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.box__title--orange {
  background-color: #EF8031;
}

.box__title--indigo {
  background-color: #333491;
}

.box__title--green {
  background-color: #91BD4A;
}

.box__title--blue {
  background-color: #01A8DD;
}

.box__title--darkorange {
  background-color: #D08B14;
}

.cell{
  padding-top:0.9em;
  border-right: 1px solid #E1E1E1;
  padding-bottom: 0px;
  margin-bottom: 0px;

}


/*table styling*/

table.table-simple table,
table.table-simple th,
table.table-simple td {
  border: 1px solid #D8D8D2;
  padding: 0.2em;
  text-align: center;
}

table.table-fancy table,
table.table-fancy th,
table.table-fancy td {
  padding: 0.4em;
  text-align: right;
  font-size: 0.77em;
  border:0.2em solid white;
}

.table-fancy__cell--blueBG{
  background-color: #C8EAF4;
  color: #67A9CE;
}

.table-fancy__cell--whiteBG{
  background-color: white;
}

.table-fancy__cell--brownBG{
  background-color: #E9E0D7;
}

.table-fancy__cell--brownFont{
  color: #987D60;
}

.table-fancy__cell--greyBG{
  background-color: #F2F2F2;
  font-weight: bold;
}

.table-fancy__cell--redBG{
  color: #A73137;
  background-color: #F2D4D4;
  font-weight: bold;
}

.table-fancy__cell--darkBrownBG{
  color: white;
  background-color: #736356;
}
